@media (max-width: 2500px) {
  .container {
    min-width: 1600px;
    max-width: 2500px;
  }

  .image-container {
    min-width: 500px;
  }
  .form-container {
    max-width: 2400px;
  }
}

.container {
  margin-top: 20px;
  margin-left: 250px;
  display: flex;
}

.image-container {
  width: 55%;
}

.image-with-text {
  position: relative;
}

#backgroundImage {
  display: flex;
  padding: 50px;
  height: 100%;
}

.form-container {
  background-color: #eef7ff;
  width: 38%;
  min-width: 10%;
}

textarea {
  font-size: 22px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  display: block;
  text-align: center;
}

.textarea-big {
  height: 100px;
  margin: 20px auto;
  padding: 10px;
}

.textarea-small {
  margin: 20px auto;
  padding: 10px;
}

.text-overlay {
  color: black;
  font-size: 24px;
  white-space: pre-wrap;
  position: absolute;
  word-wrap: break-word;
}

.billTo {
  top: 320px;
  left: 385px;
  max-width: 400px;
}

.date {
  top: 177px;
  left: 705px;
  max-width: 150px;
}

.invoiceNo {
  top: 177px;
  left: 910px;
  max-width: 150px;
}

.poBox {
  top: 525px;
  left: 725px;
  max-width: 150px;
}

.project {
  top: 525px;
  left: 900px;
  max-width: 150px;
}

.quantity {
  top: 620px;
  left: 390px;
  max-width: 110px;
}

.description {
  top: 620px;
  left: 525px;
  max-width: 200px;
}

.rate {
  top: 620px;
  left: 760px;
  max-width: 150px;
}

.amount {
  top: 620px;
  left: 925px;
  max-width: 140px;
}

.total {
  top: 1020px;
  left: 860px;
  max-width: 210px;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.center-button button {
  padding: 20px 40px;
  font-size: 24px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.center-button button:hover {
  background-color: #0056b3;
}

.second-button {
  margin-left: 200px;
  border: 2px solid #007bff !important;
  background-color: white !important;
  color: #007bff !important;
}